<template>
	<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
				<a class="navbar-brand" v-link="'/'">Skynet</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<!--<li><a v-link="'home'">Home</a></li>-->
				<li><a v-link="'login'" v-if="!user.authenticated">Login</a></li>
				<li><a v-link="'clients'" v-if="user.authenticated">Clients</a></li>
				<li><a v-link="'signup'" v-if="user.authenticated">Add user</a></li>
				<li><a v-link="'login'" v-if="user.authenticated" @click="logout()">Logout</a></li>
			</ul>
		</div>
	</nav>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<router-view></router-view>
						</div>
					</div>
				</div>
			</div>
		</header>
		 <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Location</h3>
                        <p>3481 Melrose Place
                            <br>Beverly Hills, CA 90210</p>
                    </div>
                    <!--<div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>-->
                    <div class="footer-col col-md-6">
                        <h3>About Cyberdyne Systems</h3>
                        <p>Cyberdyne Systems is a ...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import auth from '../auth'

export default {
  data() {
    return {
      user: auth.user
    }
  },

  methods: {

    logout() {
      auth.logout()
    }
  }
}
</script>