<template>
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Clients</h1>
    <button class="btn btn-primary" v-on:click="addClient()">Add new client</button>
    <div class="quote-area" v-if="quote">
      <h2><blockquote>{{ clients | json }}</blockquote></h2>      
    </div>
  </div>
</template>

<script>
import auth from '../auth'

export default {

  data() {
    return {
      clients: ''
    }
  },

  methods: {
    getClients() {
      this.$http
        .get('http://localhost:8080/api/clients', (data) => {
          this.clients = data;
        }, { 
          headers: auth.getAuthHeader()
        })
        .error((err) => {
          this.clients = err.message;
        })
    },
    addClient() {
      this.$http
        .post('http://localhost:8080/api/clients')
    }
  },

  route: {
    canActivate() {
      return auth.user.authenticated
    }
  }

}
</script>