<template>
	<!--<div class="col-sm-6 col-sm-offset-3">
    <h1>Get a Free Chuck Norris Quote!</h1>
    <button class="btn btn-primary" v-on:click="getQuote()">Get a Quote</button>
    <div class="quote-area" v-if="quote">
      <h2><blockquote>{{ quote }}</blockquote></h2>      
    </div>
  </div>-->
	<!-- Header -->
	<img class="img-responsive" src="/img/profile.png" alt="">
	<div class="intro-text">
		<span class="name">Skynet</span>
		<hr class="star-light">
		<span class="skills">Artificial General Intelligence System</span>
	</div>
</template>

<script>

export default {

  data() {
    return {
      quote: ''
    }
  },

  methods: {
    getQuote() {
      this.$http
        .get('http://localhost:3001/api/random-quote', (data) => {
          this.quote = data;
        })
        .error((err) => console.log(err))
    }
  }

}
</script>